	/*Colores*/
.Gris{
	color: #989898;
	}  
.Grisoscuro{
	color: #4d4545;
	}
.Celeste{
	color: #28c5e6;
	} 
.Anaranjado{
	color: #ff6a49;
	}  
.Verde{
	color: #77d248;
	} 
.Amarillo{
	color: #ffc200;
	} 
	/*Tipo de letra*/
*{
	font-family: 'Lato', sans-serif;
}
	/*Tamaño de letra*/
.font1{
	font-size: 1em;
}
.font2{
	font-size: 1.5em;
}
.font3{
	font-size: 2em;
}
.font4{
	font-size: 3em;
}
	/*Alinear*/
.izq{
	text-align: left;
}
.der{
	text-align: right;
}

	/*Imagenes*/
img{
/*	display: block;*/
	margin: auto;
}
	/*parrafos*/
p{
	text-align: center;
}
	/*Margenes*/
.mt5{
	margin-top: 5%;
}	
.mt10{
	margin-top: 10%;
}
.mt-5{
	margin-top: -5%;
}
.mt-10{
	margin-top: -10%;
}
.mb5{
	margin-bottom: 5%;
}
.mb10{
	margin-bottom: 10%;
}
.pb4{
	padding-bottom: 4%;
}
.pb10{
	padding-bottom: 10%;
}
.mt-30{
	margin-top: -30%;
}
.pt30{
	padding-top: 30%;
}
.pl5{
	padding-left: 5%;
	/*botones*/
}
.pl-5{
	padding-left: -5%;
	/*botones*/
}

button{
	display: block;
	margin: auto;
	padding: 2%;
	border-radius: 20px 20px;
}
	/*Secciones*/
/*section{
	width: 100%;
}*/	
	/*Encabezados*/
h1{
	margin-bottom: 5%;
	margin-top: 5%;
	font-size: 2.5em;
}
h2{
	text-align: center;
	margin-bottom: 2%;
}
h3{
	text-align: center;
}